* {
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerbox{
    padding: 100px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

.form {
  padding: 2rem;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  height: fit-content;
}